body {
    background: rgb(59, 172, 42);
    text-align: center;
}

/*arreglar formato con css card proyecto anterior*/
.card {
    background-color: white;
    width: 100px;
    height: 160px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    text-align:center;
    line-height: 100px;
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
}