body {
    background: rgb(231, 24, 76);
    text-align: center;
}


.card {
    background-color: white;
    width: 100px;
    height: 160px;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    margin: 5px;
}